{% layout 'layout.liquid' %}

{% block content %}
<div>
    <h2 class="display-6"><b><u>Mountains/Slopes</u></b></h2>
    <div class="row">

        {% for mountain in mountains %}
            <div class="card" style="width: 18rem">
                <h5 class="card-header"><b>{{mountain.name}}</b></h5>
                <div class="card-body">
                    <!-- <h6 class="card-title">
                        {% if fruit.readyToEat %}
                            Ripe
                        {% else %}
                            Not Ripe
                        {% endif %}
                    </h6> -->
                    <p class="card-text">
                        <em>Location:</em> <b>{{mountain.location}}</b> 
                    </p>
                    
                    <a href="/mountains/{{mountain._id}}" class="btn btn-info">Visit {{mountain.name}}</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<style>
    body {
        background-color: lightskyblue;
    }
    .card-body {
        background-color: gainsboro;
    }
    .btn {
        background-color: blanchedalmond;
    }
</style>
{% endblock %} 