{% layout 'layout.liquid' %}

{% block content %}
<div class="container-md">
    <form action="/mountains" method="POST">
        <fieldset>
            <legend>Add A New Mountain</legend>
            <label class="form-label">Name:</label>
            <input
                class="form-control"
                type="text"
                name="name"
                placeholder="enter name"
                >
            <label class="form-label">Image:</label>
            <input
                class="form-control"
                type="image"
                name="image"
                value="upload"
                >
            <label class="form-label">Location:</label>
            <input
                class="form-control"
                type="text"
                name="location"
                placeholder="enter location"
                >
            <label class="form-label">Elevation:</label>
            <input
                class="form-control"
                type="text"
                name="elevation"
                placeholder="enter elevation"
                >
            <label class="form-label">Description:</label>
            <input
                class="form-control"
                type="text"
                name="description"
                placeholder="enter description"
                >
            <label class="form-label">Activities:</label>
            <input
                class="form-control"
                type="text"
                name="activities"
                placeholder="enter activities"
                >
            <label class="form-label">Number of Lifts:</label>
            <input
                class="form-control"
                type="number" min="0"
                name="numberOfLift"
                placeholder="enter numberOfLift"
                >
            <label class="form-label">Number of Slopes/Runs:</label>
            <input
                class="form-control"
                type="number" min="0"
                name="numberOfRun"
                placeholder="enter numberOfRun"
                >
        </fieldset>
        <input
        type="submit"
        value="Add a Mountain"
        class="btn btn-success"
        >
    </form>
</div>
{% endblock %} 